<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../teema.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Työaikaseuranta</h1>
    <nav id="box">
        <ul>
          <li><a href="tiimit.html">Tiimit</a></li>
          <li><a href="raportit.html">Raportit</a></li>
          <li><a href="lisääkirjaus.html">Lisää kirjaus</a></li>
        </ul>
    </nav>
</header>

</body>
</html>