<!DOCTYPE html>
<html lang="fi">
<head>
    <link rel="stylesheet" href="../raportit/raporti.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrei javascript-ohjelma</title>
    
</head>
<body>

    <header class="header" id="headera">
        <div class="container">
            <div class="header__inner">
                <div class="logo">
                    <h1>Työaikaseuranta</h1>
                </div>
                    
                <nav id="main_navi">
                        <a class="nav__link" href="tiimit/tiimit.html">tiimit</a >
                        <a class="nav__link" href="luvut/index.html">Raportit</a >
                        <a class="nav__link" href="robotto/index.html">Lisää-kirjaus</a >
                </nav>
    
            </div>
        </div>
    </header>


