/*Jokaisen sivun näytettävä samalta, joten tämä css tiedosto linkataan jokaiseen*/
/*<link href="../teema.css" rel="stylesheet">*/

/*HEADER*/

header{
    background-color: #ffe8d2;

}

header h1{
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid #005246;
    padding-top: 30px; 
    padding-bottom: 30px;
    margin-top: auto;
    margin-bottom: 0%;
}

header #box{
    box-sizing: border-box;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
    border-bottom: 2px solid #005246;
}

header #box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}



header #box ul li, header #HeaderListButton {
    width: fit-content;
    text-align: center;
    height: fit-content;
    font-size: 25px;
    margin-left: 25px;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

header #HeaderListButton {
    margin-left: 0;
}


header #box a, header #HeaderListButton {
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: color 0.2s linear;
    transition:  0.5s linear;
}

header #box a:hover, header #HeaderListButton:hover {
    background-color: #ff9254;
    color: #005246;
}

body {
    box-sizing: border-box;
    border: 2px solid #005246;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    height: 90vh;
}

/*...........*/

/*FONTIT*/

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Rubik;
}

* {
    font-family: Roboto;
}

/*.......*/

/*responsiivisuus*/

header #HeaderListButton {
    vertical-align: middle;
}

@media screen and (max-width: 650px) {
    header #HeaderListButton {
        display: inline-block;
    }
    header .nav__link {
        display: none;
    }
    .show {
        display: inline-block;
    } 

}

@media screen and (min-width: 650px) {
    header #HeaderListButton {
        display: none;
    }
    header .nav__link {
        display: inline-block;
    }
    .show {
        display: none;
    }
}

/*Hampurilaisvalikko*/

.hide {
    display: none;
}


#HValikko {
    background-color: #ffe8d2;
    border-bottom: 2px solid #005246;
    width: 100%;
}

#HValikko ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#HValikko ul li {
    width: 100%;
    text-align: center;
    height: fit-content;
    font-size: 25px;
    margin-bottom: 30px;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

#HValikko a {
    padding: 0;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: color 0.2s linear;
    transition:  0.5s linear;
}

#HValikko a:hover {
    background-color: #ff9254;
    color: #005246;
}

/*..........*/