
*{
    box-sizing: border-box;
}
#page{
    border: 2px solid black;
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 60%;
    max-width: 1000px;
}


#top{
   
   font-weight: normal;
   margin-left: 10px;
   font-size: 25px;
}

#ovtop{
   margin-top: 30px;
   margin-bottom: 20px;
}

#tiimival{
    margin-left: 100px;
}
#tiimilaiset1{
        display: flex;
        flex-wrap:wrap;  
        justify-content: space-between;   
      }
      
#tiimilaiset1 div {
        background-color: #f1f1f1;
        width: 30%;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        margin-bottom: 10px;

}

#flex{
    display: flex;
}

#info{
    margin-left: 10px;
    background-color: #f1f1f1;
    width: 30%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

@media screen and (max-width: 445px){
    #flex{
        display: block;
    }
#tiimilaiset1 div{
    width: 100%;
}
#tiimilaiset1{
    display: block;
}
#info{
    width: 100%;
    margin-left: 0px;
}
#ovtop{
    text-align: center;
}
#tiimival{
    margin-left: 0px;
}
}

   